.buttonElement {
  width: 100%;
  color: white;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  letter-spacing: 1px;
  border-radius: 10px;
  background-color: #c03fc1;
  text-transform: uppercase;
}

.buttonElement:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}